[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
google-generativeai = "*"
python-dotenv = "*"
langchain = "*"
pypdf2 = "*"
chromadb = "*"
faiss-cpu = "*"
langchain-google-genai = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
